html { background: #fff; }
body { display: none; } 
html, body { height:100%; padding:0; margin:0; font-family: 'PlaytimeRegular'; min-height: 450px;  }
.wrap { margin: 0 auto; max-width:900px; height:100%; border-left: 1px dashed #0F5E4D; border-right: 1px dashed #0F5E4D; padding: 0 2px; }
.bg > div { width: 95%; margin: 0 auto; }
img { -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; margin:0;}
a { text-decoration: none; color: #111; }
h1 { font-size: 35px; color:#f38932; text-align: left; padding: 5px 0; margin: 0; font-weight: bold; } /* TITLE */
h2 { font-size: 24px; color:#0596cd; font-weight: normal; padding-bottom: 5px; margin: 0; } /* QUESTION */
p { font-size: 24px; text-align: left; padding: 5px 0px; margin: 0; }
.key { color: #9E3FC3; }
.red { color: #FF4947; }
.green { color: #4FB14F; }
.hidden { display: none; }
.bold { font-weight: bold; }
.centered { text-align: center; margin: 0 auto; }
.clear { clear: both; }
.fl { float: left; }
.fr { float: right; }
.img-align { vertical-align: sub; }
.check { position: absolute; bottom: 2%; right: 2%; }
.buttons { position: absolute; bottom: 2%; right: 2%; }
.buttons-back { position: absolute; bottom: 2%; left: 2%; }
.buttons img, .buttons-back img { border: 0 !important;	background: transparent !important; }

.blink { text-transform: uppercase; color: red;}
.hidden { display: none; }

body #answer p { text-align: center; }
body #answer img { height: 30px; }
#preloader strong { font-weight: bold !important; }

/* html[dir="rtl"] ul.lang-menu { right: 10px; left: 0; width: 200px; } */
html[dir="rtl"] h1 { text-align: right; }
html[dir="rtl"] h2 { text-align: right; }
html[dir="rtl"] p { text-align: right; }

#buttons {
	position: absolute;
	z-index: 4;
	bottom: 2%;
	width: 100%;
	height: 80px;
}

#buttons a {
	position: absolute;
	display: block;
	text-indent: -9999px;
	width: 100px;
	height: 80px;
}

#buttons a.back { 
	background: url(../images/buttons/back.png) no-repeat;
	left: 2%;

	-webkit-animation: wiggle-right .5s linear 0 infinite alternate;
	-moz-animation: wiggle-right .5s linear 0 infinite alternate;
	animation: wiggle-right .5s linear 0 infinite alternate;

    animation-name: wiggle-right;
	animation-duration: .5s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#buttons a.next, #buttons a.checkanswer, #buttons a.readmore {
	right: 2%;

	-webkit-animation: wiggle .5s linear 0 infinite alternate;
	-moz-animation: wiggle .5s linear 0 infinite alternate;
	animation: wiggle .5s linear 0 infinite alternate;

    animation-name: wiggle;
	animation-duration: .5s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#buttons a.next { background: url(../images/buttons/next.png) no-repeat; }
#buttons a.checkanswer { background: url(../images/buttons/checkanswer.png) no-repeat; }
#buttons a.readmore { background: url(../images/buttons/more.png) no-repeat; } 

@media only screen and (max-width: 1250px) {
	#buttons {
		bottom: 0;
		width: 100%;
		min-width: 420px;
		height: 34px;
		background-color: #466DB3;
		z-index: 10;
	}

	#buttons a {
		color: #fff;
		background: none !important;
		width: auto;
		height: auto;
		line-height: 34px;
		text-indent: 0;
		font-size: 18px;
	}

	/* #buttons a:hover { color: #ccc; } */
}
@media only screen and (max-width: 960px) {
	#buttons {
		bottom: 0;
		width: 100%;
		min-width: 420px;
		height: 34px;
		background-color: #466DB3;
		z-index: 10;
	}

	#buttons a {
		color: #fff;
		background: none !important;
		width: auto;
		height: auto;
		line-height: 34px;
		text-indent: 0;
		font-size: 16px;
	}

	/* #buttons a:hover { color: #ccc; } */
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	#buttons a {
		color: #fff;
		background: none !important;
		width: auto;
		height: auto;
		line-height: 34px;
		text-indent: 0;
		font-size: 18px;
	}

	/* #buttons a:hover { color: #ccc; } */
}

@-moz-keyframes wiggle-right {
	from { left: 2%; }
	to { left: 1%; }
}

@-webkit-keyframes wiggle-right {
	from { left: 2%; }
	to { left: 1%; }
}

@keyframes wiggle-right {
	from { left: 2%; }
	to { left: 1%; }
}

@-moz-keyframes wiggle {
	from { right: 2%; }
	to { right: 1%; }
}

@-webkit-keyframes wiggle {
	from { right: 2%; }
	to { right: 1%; }
}

@keyframes wiggle {
	from { right: 2%; }
	to { right: 1%; }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	h1, #screen2, #screen3, #screen4 { padding-top: 35px; }
}