.lang-menu {
	position: absolute;
	top: 8px;
	left: 8px;
	width: 155px;
	margin: 0;
	text-align: left; 
	min-width: 155px;
}

.lang-menu > li { 
	position: relative;
	margin-bottom: 4px;
} 

.lang-menu a { 
	display: block; 
	font-size: 15px;
	color: #468853;
	padding: 0 8px;
	background-color: #E0FFE8;
	border: 2px dashed #468853;
	border-radius: 10px;
}

.lang-menu a:hover { color: #347440; }

.lang-menu ul {
	position: absolute;
	width: 100%;
	left: -9999px;
} 

.lang-menu ul li { left: -9999px; margin-top: 4px; } 

.lang-menu ul a { white-space: nowrap; } 

.lang-menu li:hover ul { left: 0; }

html[dir=rtl] .lang-menu {
	text-align: right;
	right: 8px;
}

@media only screen and (max-width: 1250px) {

	.lang-menu {
		top: 0;
		left: 0;
		background-color: #468853;
		width: 100%;
		max-width: 100%;
		min-width: 420px;
		z-index: 5;
	}

	html[dir=rtl] .lang-menu {
		text-align: right;
		right: 0;
	}

	html[dir=rtl] .lang-menu ul { display: none; } 

	html[dir=rtl] .lang-menu li:hover ul { display: block; }

	.lang-menu a {
		background-color: #468853;
		color: #fff;
		border: 0;
		font-size: 18px;
		padding: 0 10px;
		line-height: 34px;
	}

	.lang-menu a:hover { color: #C1FACC; }

	.lang-menu > li { margin-bottom: 0; } 
	.lang-menu > li:nth-child(1) { float: left; margin-left: 1%; } 
	.lang-menu > li:nth-child(2) { float: right; margin-right: 1%; } 

	.lang-menu li li a { line-height: 26px; } 
}

@media only screen and (max-width: 960px) {

	.lang-menu {
		top: 0;
		left: 0;
		background-color: #468853;
		width: 100%;
		max-width: 100%;
		min-width: 420px;
		z-index: 5;
	}

	html[dir=rtl] .lang-menu {
		text-align: right;
		right: 0;
	}

	html[dir=rtl] .lang-menu ul { display: none; } 

	html[dir=rtl] .lang-menu li:hover ul { display: block; }

	.lang-menu a {
		background-color: #468853;
		color: #fff;
		border: 0;
		font-size: 16px;
		padding: 0 10px;
		line-height: 34px;
	}

	.lang-menu a:hover { color: #C1FACC; }

	.lang-menu > li { margin-bottom: 0; } 
	.lang-menu > li:nth-child(1) { float: left; margin-left: 1%; } 
	.lang-menu > li:nth-child(2) { float: right; margin-right: 1%; } 

	.lang-menu li li a { line-height: 26px; } 
}

@media only screen
and (min-device-width: 768px) 
and (max-device-width: 1024px) {

	.lang-menu {
		top: 0;
		left: 0;
		background-color: #468853;
		width: 100%;
		max-width: 100%;
		z-index: 5;
	}

	html[dir=rtl] .lang-menu {
		text-align: right;
		right: 0;
	}

	html[dir=rtl] .lang-menu ul { display: none; } 

	html[dir=rtl] .lang-menu li:hover ul { display: block; }

	.lang-menu a {
		background-color: #468853;
		color: #fff;
		border: 0;
		font-size: 18px;
		padding: 0 10px;
		line-height: 34px;
	}

	.lang-menu a:hover { color: #C1FACC; }

	.lang-menu > li { margin-bottom: 0; } 
	.lang-menu > li:nth-child(1) { float: left; margin-left: 1%; } 
	.lang-menu > li:nth-child(2) { float: right; margin-right: 1%; } 
}
