/*--------------------------------------------*/
/*-            BLOG TEMPLATE STYLE           -*/
/*--------------------------------------------*/
@import url("styles/playtime/style.css");

*{
margin:0px;
padding:0px;
}
a{
	text-decoration: none;
}
img{border:0px}
html{
width:100%;
height:100%;
background-color:#fff;
}
body{
width:100%;
/* height:100%; */
position:relative;
margin:0 auto;
/* background-image:url(images/bg.gif);
background-position:top left;
background-repeat:repeat-y; */
background-color: #fff;
font-family: trebuchet ms;
font-size: 13px;
}

/*
html > body{
height:auto;
min-height:100%;
}

#header{
background-image:url(images/header_bg.jpg);
background-position:top left;
background-repeat:no-repeat;
padding:30px 70px;
text-align: center;
}
*/
#header {
	width:100%;
	top:0;
	height:50px;
	padding:15px 0;
	text-align:center;
	/* background:url(images/bg-01.jpg) repeat #ee4e1d; */
    background-color: #083B91;
}
.logo{
	font-family: trebuchet ms;
	font-weight: bold;
	font-size:40px;
	color:#00171C;
}
.big { font-size: 50px; color: #DBD8C7;}
#menu{
padding:0 0 1px 71px;
overflow:hidden;
height:42px;
}
#menu li{
display:inline
}
#menu img{
float:left
}
#content{
padding:0 80px 30px;
overflow:hidden;
/* max-width:100%;
margin:0 auto;
box-shadow: 0px -5px 0 0px #ee4e1d inset, 0px 5px 0 0px #ee4e1d inset; */
}
hr { border: 0; height: 1px; color: gray; background-color: gray; margin-bottom: 10px;}
.upper { text-transform: uppercase;}
.bold { font-weight: bold;}
.link{ color: #FF4E22;}
.link:hover{ text-decoration: underline; }
h1 { padding: 20px 0;}

/* .button1 { margin-top: 20px; background-color: #153039; color: white; padding: 5px 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin: 10px 0; cursor: pointer; border: 0; } */
.button2 { margin-top: 20px; background-color: gray; color: #153039; padding: 5px 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin: 10px 0;}
/* .button1:hover  { background-color: #f69302; color: #153039;} */
.module-box { 
    height: 135px; 
    float: left; 
    width: 345px; 
    margin: 10px; 
    padding: 10px; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px; 
    border-radius: 15px; 
    position: relative; 
    border: 3px solid #FF934A; }
.active-module { background-color: #ADEF9E; }
.left-box { width: 270px; }
.left-lower { position: absolute; bottom: 20px; }
a.take-box { color: #00171C; max-width: 170px; text-align: center; padding: 15px 10px; margin-top: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; background-color: #FF934A; font-size: 17px;}
.gray-box { background-color: gray !important;}
a.gray-box:hover, a.take-box:hover, .take-box:hover { background-color: #FFBD9E !important; } /* FF934A */
.module-menu { width: 100%; margin: 0 auto; padding-top: 10px; text-align: center; }
.dt-text { padding-top: 5px; text-align: center; }
.dt-text p { font-size: 12px; font-style: italic; }
.pre-dt { color: #492DC8; }
.post-dt { color: #AE00A4;}
.center { text-align: center; }

#footer{
height:150px;
position:absolute;
bottom:0px;
/*background-image:url(images/footer_bg.jpg); */
background-position:top left;
background-repeat:no-repeat;
width:100%;
font-family: trebuchet ms;
font-size:11px;
color:#D8E4E8;
text-align: center;
color: #000;
}
#footer p{
width:100%;
text-align:center;
padding: 0;
}
#footer p a{
color:#F69302;
text-decoration:underline
}
#footer p a:visited{text-decoration:underline}
#footer p a:hover{text-decoration:none}
#posts{
width:532px;
float:left;
padding:0 44px 0 0;
padding:10px 44px 0 0;
font-family: trebuchet ms;
font-size:13px;
color:#595959
}
#sidebar{
width:356px;
float:left
}
.post{
padding:0 0 35px 0;
overflow:hidden;
width:532px;
float:left;
}
.post h2{
font-family: trebuchet ms;
font-size:24px;
color:#474747;
font-weight:normal;
display:block;
padding:15px 0 0 75px;
line-height:70px;
background-image:url(images/h_bg.jpg);
background-position:bottom left;
background-repeat:no-repeat;
}
.post h2:first-letter {
font-size:60px;
}
.date{
display:block;
float:left;
background-image:url(images/date_bg.gif);
background-position:top left;
background-repeat:no-repeat;
width:70px;
text-align:right;
font-family: trebuchet ms;
font-size:10px;
color:#E6E5E5;
padding:0 4px 0 0 
}
.categories{
display:block;
float:left;
background-image:url(images/categories_bg.gif);
background-position:top left;
background-repeat:no-repeat;
width:454px;
font-family: trebuchet ms;
font-size:10px;
color:#1D1D1D;
padding:0 0 0 4px
}
.description{
padding:20px 0 0 0;
float:left;
margin:0 0 15px 0;
margin:0;
}
.post .description img{
float:left;
padding:0 20px 20px 0;
margin:0px;
}
.post .description p{
display:block;
float:left;
width:98%;
padding:0 0 0 15px
}
.comments{
display:block;
float:left;
line-height:17px;
padding:5px 0 0 18px;
}
.comments a{
color:#F07402;
text-decoration:underline
}
.comments a:visited{text-decoration:underline}
.comments a:hover{text-decoration:none}
.comments span{
font-size:14px;
color:#6E6E6E;
padding:0 7px;
line-height:17px;
}
#search{
background-image:url(images/search_bg.jpg);
background-position:top left;
background-repeat:no-repeat;
width:356px;
height:124px;
margin:0 0 20px 0
}
#search input{
width:169px;
height:20px;
border:0px;
line-height:15px;
font-family: trebuchet ms;
font-size:13px;
color:#595959;
margin:50px 0 0 69px;
padding:3px 0 0 5px;
float:left
}
#search a{
display:block;
float:left;
margin:50px 0 0 2px
}
.list{
padding:0 0 15px 35px;
}
.list ul{
width:290px;
overflow:hidden;
padding:5px 0 15px 5px
}
.list li{
list-style-type:none;
background-image:url(images/bullet.gif);
background-position:top left;
background-repeat:no-repeat;
padding:0 0 5px 22px;
line-height:15px;
height:15px;
width:120px;
float:left;
}
.list a{
font-family: trebuchet ms;
font-size:13px;
color:#595959;
text-decoration:none;
}
.post p{
width:511px;
padding:13px 0 0 20px;
}
.post p img{
margin:5px 0 0 0
}
#comments{
padding:15px 0 0 17px;
width:515px;
float:left;
display:inline;
}
#posts .comment{
background-image:url(images/dots.gif);
background-position:bottom left;
background-repeat:repeat-x;
padding:20px 0 11px 2px;
line-height:14px;
font-family: trebuchet ms;
font-size:13px;
float:left;
border:1px solid white
}
.comment span, .avatar span{
font-family: trebuchet ms;
font-size:10px;
color:#F17102;
padding:0px;
}
.avatar{
width:100px;
float:left;
font-size:10px;
}
#posts .comment p{
display:block;
float:left;
width:410px;
}
#add{
padding:25px 0 50px 0;
float:left
}
.title{
margin:0 0 15px 0
}
.form{
width:412px;
float:left;
}
.form input{
width:405px;
border:1px solid #CCCCCC;
height:18px;
margin:0 0 9px 0;
padding:0 0 0 5px;
font-family: trebuchet ms;
font-size:13px;
color:#595959
}
.form textarea{
width:405px;
border:1px solid #CCCCCC;
height:77px;
overflow:hidden;
margin:0 0 9px 0;
padding:5px 0 0 5px;
font-family: trebuchet ms;
font-size:13px;
color:#595959
}
.rss{
position:absolute;
top:300px;
right:30px;
}
.inner_copy{
border:0;
color:#fff;
float:right;
width:0.09%!important;
margin:-100px;
overflow:hidden;
line-height:0px;
padding:0px;
font-size:13px
}

.fright { float:right; }
.fleft { float:left; }
/*--------------------------------------------*/
/*-            ADDED TEMPLATE MISC           -*/
/*--------------------------------------------*/
.box-shadow {
	-moz-box-shadow: 0px 0px 10px 1px #000;
	-webkit-box-shadow: 0px 0px 10px 1px #000;
	box-shadow: 0px 0px 10px 1px #000;
	border-radius: 15px;
	background-color: #FFF;
	padding: 20px;
}

.input {
	width: 100%; 
	height: 33px; 
	margin-top: 5px;
	border: 1px solid #888;
	margin-bottom: 10px;
	-moz-box-shadow: inset 0 0 5px #888;
	-webkit-box-shadow: inset 0 0 5px #888;
	box-shadow: inner 0 0 5px #888;
}
.login_field { 
	width: 96%; 
	height: 65%; 
	font-size: 13px; 
	border: 0;
	outline-style: none;
	padding: 5px;
}
#login{
	width: 300px;
	font-family: trebuchet ms;
	padding: 25px;
	font-size: 13px;
	margin: 25px auto;
}
.button{
	padding: 5px 20px;
}


table.result {
font-size: 13px;
border-collapse: collapse;
margin: 15px 10px;
}

table.result td, table.result th { padding: 5px;}

.alignright { text-align: right;}
.clear { clear: both; }

table.morepad th, table.morepad td { padding: 10px; }
table.valigntop td { vertical-align:top;}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #FF9A2F; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
.onoffswitch-checkbox:disabled + .onoffswitch-label .onoffswitch-inner {
	background-color: #ccc; color: #FFFFFF;
}

.spanish:before {
	content: "EN" !important;
}

.spanish:after {
	content: "DE" !important;
}

.chinese:before {
	content: "上" !important;
}

.chinese:after {
	content: "右" !important;
}

/* Arabic */
.onoffswitch-inner-ar {
    width: 200%; margin-right: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner-ar:before, .onoffswitch-inner-ar:after {
    float: right; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner-ar:before {
    content: "في";
    padding-right: 10px;
    background-color: #FF9A2F; color: #FFFFFF;
}
.onoffswitch-inner-ar:after {
    content: "بعيدا";
    padding-left: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: left;
}
.onoffswitch-switch-ar {
    width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; left: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner-ar {
    margin-right: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch-ar {
    left: 0px; 
}
.onoffswitch-checkbox:disabled + .onoffswitch-label .onoffswitch-inner-ar {
	background-color: #ccc; color: #FFFFFF;
}

/*--Include Remove Arabic--*/
.onoffswitch1-inner-ar {
    width: 200%; margin-right: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch1-inner-ar:before, .onoffswitch1-inner-ar:after {
    float: right; width: 50%; height: 17px; padding: 0; line-height: 17px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch1-inner-ar:before {
    content: "شمل";
    padding-right: 8px;
    background-color: #2FCCFF; color: #FFFFFF;
}
.onoffswitch1-inner-ar:after {
    content: "نزع";
    padding-left: 8px;
    background-color: #EEEEEE; color: #999999;
    text-align: left;
}
.onoffswitch1-switch-ar {
    width: 8px; margin: 4.5px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 8px;
    position: absolute; top: 0; bottom: 0; left: 47px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-inner-ar {
    margin-right: 0;
}
.onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-switch-ar {
    left: 0px; 
}


/*--Include Remove--*/

.onoffswitch1 {
    position: relative; width: 68px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch1-checkbox {
    display: none;
}
.onoffswitch1-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 8px;
}
.onoffswitch1-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch1-inner:before, .onoffswitch1-inner:after {
    float: left; width: 50%; height: 17px; padding: 0; line-height: 17px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch1-inner:before {
    content: "Include";
    padding-left: 8px;
    background-color: #2FCCFF; color: #FFFFFF;
}
.onoffswitch1-inner:after {
    content: "Remove";
    padding-right: 8px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch1-switch {
    width: 8px; margin: 4.5px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 8px;
    position: absolute; top: 0; bottom: 0; right: 47px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-inner {
    margin-left: 0;
}
.onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-switch {
    right: 0px; 
}

tr.trline { border-top:1px dashed #888; }
tr.trline input[type="radio"] { vertical-align: middle; line-height: 13px; cursor: pointer; }
tr.trline input[type="radio"] + label { margin-left: 10px; cursor: pointer; }

.countdownHolder{
	width:450px;
	margin:0 auto;
	font: 40px/1.5 'Open Sans Condensed',sans-serif;
	text-align:center;
	letter-spacing:-3px;
}

.position{
	display: inline-block;
	height: 1.6em;
	overflow: hidden;
	position: relative;
	width: 1.05em;
}

.digit{
	position:absolute;
	display:block;
	width:1em;
	background-color:#444;
	border-radius:0.2em;
	text-align:center;
	color:#fff;
	letter-spacing:-1px;
}

.digit.static{
	box-shadow:1px 1px 1px rgba(4, 4, 4, 0.35);
	
	background-image: linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	background-image: -o-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	background-image: -moz-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	background-image: -webkit-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	background-image: -ms-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.5, #3A3A3A),
		color-stop(0.5, #444444)
	);
}

/**
 * You can use these classes to hide parts
 * of the countdown that you don't need.
 */

.countDays{ display:none !important; }
.countDiv0{ display:none !important; }
.countHours{}
.countDiv1{}
.countMinutes{}
.countDiv2{}
.countSeconds{}


.countDiv{
	display:inline-block;
	width:16px;
	height:1.6em;
	position:relative;
}

.countDiv:before,
.countDiv:after{
	position:absolute;
	width:5px;
	height:5px;
	background-color:#444;
	border-radius:50%;
	left:50%;
	margin-left:-3px;
	top:0.5em;
	box-shadow:1px 1px 1px rgba(4, 4, 4, 0.5);
	content:'';
}

.countDiv:after{
	top:0.9em;
}

.scrollable {
width: 550px; 
overflow-y: hidden;
overflow-x: scroll;
}

.vtop { vertical-align: top;} 
.green {color: green; }

#table_id_length{display:none !important;}
.dataTables_length{display:none!important;}
.dataTables_filter{display:none !important;}
.dataTables_info{display:none !important;}
.dataTables_paginate paging_two_button{display:none !important;}
#table_id_info{display:none !important;}
#table_id_paginate,#table_id2_paginate,#table_id3_paginate{display:none !important;}

.results th:hover{background-color:lightblue;}

.results{width: 100%; border:1px solid #153039; margin-bottom:20px; }
.results2{width: 100%;  border:1px solid #153039; margin-top:20px;}
.results td, .results2 td,.results th, .results2 th { padding: 10px;}
.sorting{padding:0 12px;}
.results2 table{width:100%;}
.results li,.results2 li{list-style:none; color:black;}
.results2 a{color:inherit;}
.results a{color:inherit;}
th {background-color:#f69302; color: #153039;}
th:hover {background-color:lightblue;}
tr.odd { background-color: lightblue;}

.no-hover{background-color:white !important;}
.chart-container{width:100%; height:400px; border:1px solid black;}
.diagnostic-result-container{width:750px; margin:0 auto; margin-top:20px;margin-bottom:60px;}
.diagnostic-question-container{width:650px; margin-top:20px; margin:0 auto;}
.pchart { float:left; width: 400px; height: 250px;}
.dataTable { border-collapse: collapse; text-align: center;}
.dataTable td,.dataTable th { border-left: 1px solid black;}
.dataTable th { border-bottom: 1px solid black; }
ul.list_notes { list-style-position: inside;}
.sorting_asc, .sorting_1 {border-left: 0 !important;  }
.dbl { font-size: 12px; line-height: 17px; font-weight: bold;}
.dbl2 { padding: 15px 22px !important;}

.img-answer { vertical-align: middle; margin-right: 10px; }
html[dir="rtl"] .img-answer { vertical-align: middle; margin-right: 0; margin-left: 10px; }
.hidden { display: none; }

#add-question { width: 500px !important; line-height: 13px; }
#add-question tr { height: 50px; min-height: 50px; }
#add-question tr:first-child { text-align: center; }
#add-question td { padding: 5px 10px; }
#add-question td:first-child { width: 150px; }
#add-question td:last-child { width: 350px; }
#add-question input[type=text] { width: 340px; padding: 2px; border: 1px solid #ccc; }
#question { width: 340px; height: 50px; resize: none; padding: 2px; border: 1px solid #ccc; }
tr#qtr { height: 90px !important; }
span.form-error { font-size: 10px; font-style: italic; color: red; }
.red { color: red; }
.green { color: green; }
.tb { font-family: trebuchet ms; font-size: 13px; }
.m-top10 { margin-top: 10px; }
.m-top20 { margin-top: 20px; }
.m-top30 { margin-top: 30px !important; }

#edit-account table { width: 320px; }
#edit-account table tr, #change-pw table tr { height: 30px; }
#edit-account table td:first-child, #change-pw table td:first-child { width: 120px; }
#edit-account table td:last-child { width: 200px; }
#edit-account table input[type=text] { width: 170px; padding: 2px; border: 1px solid #ccc; }

#change-pw table { width: 300px; }
#change-pw table td:last-child { width: 180px; }
#change-pw table input[type=text] { width: 180px; padding: 2px; border: 1px solid #ccc; }

.hidden-btn { display: none; }
#container { width: 800px; margin: 0 auto; }

.button1 {
	background-color: #ee4e1d;
    border: 0 solid #CCCCCC;
    border-radius:3px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    height: 34px;
    padding: 4px 8px;
    text-align: center;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;}
.button1:hover {
	background-color: #C27253; }
	
#dash { width: 100%; border-top:1px dashed #888; }
#ct { margin: 10px 0px; }


.onoffswitch-module {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-module-checkbox {
    display: none;
}
.onoffswitch-module-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px; height: 20px;
}
.onoffswitch-module-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-module-inner:before, .onoffswitch-module-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 22px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-module-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #8BDA84; color: #FFFFFF;
}
.onoffswitch-module-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-module-switch {
    width: 10px; height: 10px; margin: 5px 10px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 50px;
    position: absolute; top: 0; bottom: 0; right: 30px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-module-checkbox:checked + .onoffswitch-module-label .onoffswitch-module-inner {
    margin-left: 0;
}
.onoffswitch-module-checkbox:checked + .onoffswitch-module-label .onoffswitch-module-switch {
    right: 0px; 
}

.onoffswitch-module-checkbox:disabled + .onoffswitch-module-label .onoffswitch-inner {
    background-color: gray !important;
}

.disabled { background-color: #888; cursor: default; }
.disabled:hover { background-color: #888; }

#accounts { width: 270px; color: #FF4E22; }
.margin-sides { margin: 0px 5px; }

.students { width: 400px; margin: 0 auto; border: 1px solid black; text-align: center; }
.students th, .students td  { height: 30px; }
.students th { background-color: #F5D6A9; }
.students tr:nth-child(even) { height: 30px; background-color: #CACEFD; }
.students tr:nth-child(odd) { height: 30px; background-color: #D5FACC; }
.students a { color: #FF4E22; }
.students a:hover { text-decoration: underline; }
.students td:nth-child(2) { width: 20px; }
.students td:nth-child(3) { padding-left: 10px; text-align: left !important; }

.group-name { text-align: center; margin-top: 10px; }
.transfer, .delete { height: 22px !important; padding: 3px 8px !important; }
.group-control { padding: 5px 0px; margin-left: 25%; }

#check { float: right; padding-top: 3px; }
.gender { vertical-align: middle; cursor: pointer; }
.gender + label { cursor: pointer; }
#f { margin-left: 10px;}
#save:disabled { background-color: #888; }

/* Dialog Box */
.ui-dialog {
	background-color: #D9D9D9;
	border: 1px solid #888;
}

.ui-dialog-titlebar {
	text-align: center;
	font-weight: bold;
	padding: 5px;
	background-color: #888;
}

.ui-dialog-titlebar .ui-button {
	float: right;
}

.ui-dialog-content {
	min-height: 45px !important;
	padding: 10px;
}

.ui-dialog-buttonpane {
	text-align: center;
	padding-bottom: 10px;
}

.ui-dialog-buttonset button:first-child {
	margin-right: 5px; 
}

.m-active {
	font-size: 11px;
	color: darkgreen;
	font-style: italic;
	margin-right: 5px;
}

/* Diagnostic Test */

.dtq-image {
	height: 200px;
	width: 300px;
	margin: 0 auto;
	border: 1px solid #888;
	padding: 5px;
	background-color: #fff;
	margin: 10px 0;
}

#ct a:first-child {
	margin-right: 10px;
}

/* Arabic Layout */
html[dir="rtl"] #logged-in, html[dir="rtl"] #accounts, html[dir="rtl"] #accounts a, html[dir="rtl"] #accounts p, html[dir="rtl"] .m-active{
	float: left !important;
}

html[dir="rtl"] #language {
	float: right !important;
}

html[dir="rtl"] .teacher-mb a.take-box:first-child, html[dir="rtl"] #ct a:first-child {
	margin-left: 5px;
}

html[dir="rtl"] .letters {
	float: right;
}

.rvw {
	font-size: 11px;
	font-style: italic;
}

.ask {
	font-weight: bold;
}

html[dir="rtl"] .dataTables_wrapper {
	direction: ltr;
}

.dataTable td:first-child, .dataTable th:first-child {
	border-left: 0;
}

.DTFC_LeftBodyWrapper {
	border-right: 1px solid black;
}

.DTFC_LeftHeadWrapper th {
	border-right: 1px solid black !important;
}

.DTFC_RightHeadWrapper th {
	border-left: 1px solid black !important;
}

.ct_results .DTFC_RightWrapper[style] {
	width: 73px !important;
}

.DTFC_RightBodyWrapper {
	border-left: 1px solid black;
}

#dp_swf_engine {
	display: none;
}

.st-box {
	cursor: pointer;
}

.user-group {
	display: none;
	width: 260px;
	margin: 10px auto;
	position: relative;
}

.user-group p, .user-group input[type=text] {
	float: left;
	margin-right: 15px;
}

.user-group input[type=submit] {
	height: 25px;
	margin-right: 5px;
}

#group-controls {
	margin-top: 8px;
	text-align: center;
}

.inactive {
   pointer-events: none;
   cursor: default;
   background-color: #888;
}

.dt-del, .ct-del {
	margin-left: 5px;
}

.choices input[type=radio], .choices input[type=checkbox] {
	margin: 5px 10px;
	vertical-align: middle;
	cursor: pointer;
}

.choices input[type=radio] + label, .choices input[type=checkbox] + label {
	cursor: pointer;
}

#submit-test, #check-results {
	float: right;
	margin-right: 120px;
}

#dt-back, #check-results {
	height: 26px;
	line-height: 26px;
}

.module-nav {
	margin: 10px 5px 0 0;
}

#countdown { 
	width: 240px; 
	height: 45px; 
}

.dt-image img {
	height: 125px;
	width: 175px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-right: 2px;
}

.dt-image input[type=radio], .dt-image input[type=checkbox] {
	display: none;
}

.dt-image label { display: block; text-align: center; cursor: pointer; float: left; }
.dt-image input[type=radio] + label img, .dt-image input[type=checkbox] + label img { border: 4px solid transparent; -webkit-transition: all .3s ease; }
.dt-image input[type=radio]:checked + label img, .dt-image input[type=checkbox]:checked + label img { border: 4px solid #ee6143; -webkit-transition: all .3s ease; -webkit-backface-visibility: hidden; }
/* .dt-image input[type="radio"] + label span { color: #000; -webkit-transition: all .3s ease; }
.dt-image input[type="radio"]:checked + label span { color: #ee6143; -webkit-transition: all .3s ease; } */

.pagination a {
	text-decoration: underline;
	margin-right: 10px;
}

.current {
	text-decoration: none !important;
}

#ct-modules {
    margin: 15px auto;
}

.center-button {
    text-align: center;
}

.ct-container #ct-details {
    margin: 0 10px !important;
}

.p-right15 {
    padding-right: 15px;
}

.spacer {
    height: 15px;
}

.help-block {
    padding-left: 5px !important;
}

#instructions {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(60, 60, 60, 0.5);
    z-index: 100;
}

#layerslider {
    background-color: #F5F1E8;
}

#wherestart {
    margin-top: 5px;
    background-color: #2C9983;
    font-weight: bold;
}

#wherestart:hover {
    background-color: rgb(90, 194, 169);
}

#close-btn {
    position: absolute;
    bottom: 20%;
    left: 48%;
    margin: 10px 0;
    text-align: center;
}

#layerslider-container {
    position: relative;
    top: 25%;
    width: 50%;
    font-family: 'PlaytimeRegular';
    font-size: 20px;
    margin: 0 auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}