/* ul { font-family: 'PlaytimeRegular'; }
ul.lang-menu { margin: 0; padding: 0; list-style-type: none; position: absolute;top:10px; left: 10px;z-index:1000; }
ul.lang-menu li { margin-bottom: 10px; }
ul.lang-menu ul { display: none; list-style-type: none; margin-top: 10px; padding: 0; }
ul.lang-menu ul li { height: 25px; margin: 6px 0 !important; }
ul.lang-menu li:hover > ul { display: block; }
ul.lang-menu a, ul.lang-menu ul li a { background: #466DB3; padding: 2px; margin-top: 5px; font-size: 16px; width: 100%; text-decoration:none; width: 400px; -webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px; border: 2px dashed #CABD8F; height: 30px; color: #fff !important; }
ul.lang-menu a:hover, ul.lang-menu ul li a:hover { background: #2140BB; } html[dir="rtl"] ul.lang-menu { left: auto; right: 10px; }
html[dir="rtl"] ul.lang-menu li:hover > ul { padding:0;margin-top:0; }*/


.lang-menu {
	position: absolute;
	top: 8px;
	left: 8px;
	width: 155px;
	margin: 0;
	text-align: left; 
	min-width: 155px;
	list-style: none;
	padding: 0;
	z-index: 5555;
}

.lang-menu > li { 
	position: relative;
	margin-bottom: 4px;
	padding: 0;
} 

.lang-menu a { 
	display: block; 
	font-size: 15px;
	color: #fff;
	padding: 0 8px;
	background: #466DB3;
	border: 2px dashed #CABD8F;
	border-radius: 10px;
	text-decoration: none;
}
.lang-menu li ul li a { color: white !important; }
/* .lang-menu a:hover { color: #555; } */

.lang-menu ul {
	position: absolute;
	width: 100%;
	left: -9999px;
	list-style: none;
	padding: 0;
} 

.lang-menu ul li { left: -9999px; margin-top: 4px; padding: 0; } 

.lang-menu ul a { white-space: nowrap; } 

.lang-menu li:hover ul { left: 0; }

html[dir=rtl] .lang-menu {
	text-align: right;
	right: 8px;
}

@media only screen and (max-width: 1250px) {

	.lang-menu {
		top: 0;
		left: 0;
		background-color: #466DB3;
		width: 100%;
		max-width: 100%;
		min-width: 420px;
		z-index: 5;
	}

	html[dir=rtl] .lang-menu {
		text-align: right;
		right: 0;
	}

	html[dir=rtl] .lang-menu ul { display: none; } 

	html[dir=rtl] .lang-menu li:hover ul { display: block; }

	.lang-menu a {
		background-color: #466DB3;
		color: #fff;
		border: 0;
		font-size: 18px;
		padding: 0 10px;
		line-height: 34px;
	}

	/* .lang-menu a:hover { color: #ccc; } */

	.lang-menu > li { margin-bottom: 0; } 
	.lang-menu > li:nth-child(1) { float: left; margin-left: 1%; } 
	.lang-menu > li:nth-child(2) { float: right; margin-right: 1%; } 

	.lang-menu li li a { line-height: 26px; } 
}

@media only screen and (max-width: 960px) {

	.lang-menu {
		top: 0;
		left: 0;
		background-color: #466DB3;
		width: 100%;
		max-width: 100%;
		min-width: 420px;
		z-index: 5;
	}

	html[dir=rtl] .lang-menu {
		text-align: right;
		right: 0;
	}

	html[dir=rtl] .lang-menu ul { display: none; } 

	html[dir=rtl] .lang-menu li:hover ul { display: block; }

	.lang-menu a {
		background-color: #466DB3;
		color: #fff;
		border: 0;
		font-size: 16px;
		padding: 0 10px;
		line-height: 34px;
	}

	/* .lang-menu a:hover { color: #ccc; } */

	.lang-menu > li { margin-bottom: 0; } 
	.lang-menu > li:nth-child(1) { float: left; margin-left: 1%; } 
	.lang-menu > li:nth-child(2) { float: right; margin-right: 1%; } 

	.lang-menu li li a { line-height: 26px; } 
}

@media only screen
and (min-device-width: 768px) 
and (max-device-width: 1024px) {

	.lang-menu {
		top: 0;
		left: 0;
		background-color: #466DB3;
		width: 100%;
		max-width: 100%;
		z-index: 5;
	}

	html[dir=rtl] .lang-menu {
		text-align: right;
		right: 0;
	}

	html[dir=rtl] .lang-menu ul { display: none; } 

	html[dir=rtl] .lang-menu li:hover ul { display: block; }

	.lang-menu a {
		background: #466DB3;
		color: #fff;
		border: 0;
		font-size: 18px;
		padding: 0 10px;
		line-height: 34px;
	}

	/* .lang-menu a:hover { color: #ccc; } */

	.lang-menu > li { margin-bottom: 0; } 
	.lang-menu > li:nth-child(1) { float: left; margin-left: 1%; } 
	.lang-menu > li:nth-child(2) { float: right; margin-right: 1%; } 
}