Falling Leaves with CSS Only
	http://premiumcoding.com/css3-tricks-falling-leaves-css/

.loader {
    text-align: center;
}
.loader span {
    display: inline-block;
    width: 80px;
    height: 80px;
	margin: -280px 40px 54px  -34px;
    background: #ff0000;
	background:url("leaf2.png"); background-repeat: no-repeat; background-size: 100% 100%;

    -webkit-animation: loader 10s infinite  linear;
    -moz-animation: loader 10s infinite  linear;
}

.loader span:nth-child(1) {

    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
}

.loader span:nth-child(2) {

    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}

.loader span:nth-child(3) {

    -webkit-animation-delay: 4.7s;
    -moz-animation-delay: 4.7s;
}

.loader span:nth-child(4) {

    -webkit-animation-delay: 8.7s;
    -moz-animation-delay: 8.7s;
}

.loader span:nth-child(6) {

    -webkit-animation-delay: 5.7s;
    -moz-animation-delay: 5.7s;
}

.loader span:nth-child(7) {

    -webkit-animation-delay: 9.2s;
    -moz-animation-delay: 9.2s;
}

.loader span:nth-child(8) {

    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
}

.loader span:nth-child(9) {

    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
}

.loader span:nth-child(10) {

    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
}

.loader span:nth-child(11) {

    -webkit-animation-delay: 7.7s;
    -moz-animation-delay: 7.7s;
}
.loader span:nth-child(12) {

    -webkit-animation-delay: 2.7s;
    -moz-animation-delay: 2.7s;
}
 
@-webkit-keyframes loader {
  0% {
    width: 80px;
    height: 80px;
    opacity: 1;

	-webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    width: 80px;
    height: 80px;
    opacity: 1;

	-webkit-transform: translate(100px, 600px) rotateZ(270deg); 
  }
  100% {
    width: 80px;
    height: 80px;
    opacity: 0;

	-webkit-transform: translate(150px, 800px) rotateZ(360deg);
  }
}
@-moz-keyframes loader {
  0% {
    width: 80px;
    height: 80px;
    opacity: 1;
    
	-moz-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    width: 80px;
    height: 80px;
    opacity: 1;
   
	-moz-transform: translate(100px, 600px) rotateZ(270deg); 
  }
  100% {
    width: 80px;
    height: 80px;
    opacity: 0;
    
	-moz-transform: translate(150px, 800px) rotateZ(360deg);
  }
}