ul { font-family: 'PlaytimeRegular'; }
ul.lang-menu { margin: 0; padding: 0; list-style-type: none; position: absolute;top:10px; left: 10px;z-index:1000; }
ul.lang-menu li { margin-bottom: 10px; }
ul.lang-menu ul { display: none; list-style-type: none; margin-top: 5px; padding: 0; }
ul.lang-menu ul li { margin: 10px 0 0px; }
ul.lang-menu li:hover > ul { display: block; }
ul.lang-menu a, ul.lang-menu ul li a { background: #ffe2b2; padding: 2px 6px; margin-top: 5px; font-size: 15px; width: 100%; text-decoration:none; width: 400px; -webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px; border: 2px dashed orange; height: 30px; color: maroon;}
html[dir="rtl"] ul.lang-menu { left: auto; right: 10px; }
html[dir="rtl"] ul.lang-menu li { text-align: right !important; }
